@model ProductDto

<h1>Save Product</h1>

<div class="row">

    <div class=col-md-6>

        <form method="post" asp-action="Save">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Stock"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-control">
                    <option selected="Seçiniz" disabled>seçiniz</option>
                </select>

            </div>

            <div class="form-group mt-3">

                <button type="submit" class="btn btn-outline-primary">Save</button>

            </div>
        </form>



    </div>


</div>